/*	00. RESET
/*-----------------------------------------------------------------------------------*/

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    color: #999999;
    font-weight: 300;
  background-color: #fff; 
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #222;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

*:before,
*:after {
    box-sizing: border-box;
}

:focus {
    outline: none !important;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    max-width: 100%
}

::-moz-selection {
    background: #d4eaf5;
    /* Safari */
    color: #2f2f2f;
}

::selection {
    background: #d4eaf5;
    /* Safari */
    color: #2f2f2f;
}

::-moz-selection {
    background: #d4eaf5;
    /* Firefox */
    color: #2f2f2f;
}

ul.nav.navbar-nav li a:hover,
ul.nav.navbar-nav li a:focus {
    background: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-65 {
    margin-bottom: 65px;
}

.pb-140 {
    padding-bottom: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-35 {
    margin-bottom: 35px;
}

.pb-130 {
    padding-bottom: 130px;
}

.foo-padding {
    padding: 28px 0 30px;
}

.plr-10 {
    padding: 0 10px;
}

.bb-top {
    border-top: 1px solid #323232;
}

.bb-bottom {
    border-bottom: 1px solid #ececec;
}

.section-padding {
    padding: 80px 0;
}

.overlay {
    position: relative;
    z-index: 1;
}

.overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #222222;
    opacity: .95;
    filter: alpha(opacity=95);
    z-index: -1;
}

strong {
    color: #999999;
}

a.link-out {
    color: #f8cf27;
}

a.link-out:hover {
    text-decoration: underline;
    ;
}

.section-title h2,
.cta-text > h2 {
    font-family: 'uni_sansheavy_caps';
}

.section-title h2 {
    font-size: 34px;
    margin: 0;
}


/*-----------------------------------------------------------------------------------*/

.head-top-area{
	padding: 2.714em 0;
	background-color: #fff;
}
.third {
    background-color: #23ae79;
    color: #fff;
    padding: 85px 0;
    background-image: url('../images/welcome/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 450px;
}
.header-flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  margin-top: 20px;

}
.header-flex .fa-phone{
  padding-right: 4%;
}
.row-footer{
    background : #282828;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:rgb(225,225,225);
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background : #006BB6;
    color:floralwhite;
    min-height: 600px;
}

address{
    font-size:80%;
    margin:0px;
    color:rgb(225,225,225);
}
body{
    padding:0px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
   background : #006BB6;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background:#549bf1;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background:#549bf1;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
     background-color:#991d31 ;
    color:rgb(255,254,253);
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}
.navbar-inverse .navbar-nav>li>a .fa-facebook,
.navbar-inverse .navbar-nav>li>a .fa-linkedin {
  background-color: white;
  color: #549bf1;
  padding: 2px 5px 2px 5px;
}
.navbar-nav li:hover{
 background: #549bf1
}
    
@media (min-width: 768px){
.navbar {
     border-radius: 0px; 
}
}
.navbar {
   position: relative;  
    min-height: 0px;  
     margin-bottom: 0px;  
     border: none;  
}
.navbar-inverse .navbar-nav>li>a, 
.navbar-inverse .navbar-text {
   color: rgb(255,254,253);
}
.jumbotron.jumbotron-main {
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    margin: 0;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .jumbotron.jumbotron-main  {
        background-image: url('../images/welcome/welcome-one.jpg');
         background-size: cover;
    }
    
/*button*/
.button,
.button:hover {
    padding: 0;
   background : #006BB6;
    text-transform: uppercase;
    color: #fff;
    border-color: #991d31 ;
    height: 42px;
    line-height: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.btn-online{
   background : #006BB6;
    text-transform: uppercase;
    color: #fff;
    border-color: #991d31 ;
    height: 42px;
    line-height: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
   padding: 10px 20px;
}
.button10{
  border: none;
    padding: 0 10px;  
}
.button10:hover{
    border: none;
    padding: 0 10px; 
}
.button40{
   border: none;
    padding: 0 40px; 
}
.button40:hover{
   border: none;
    padding: 0 40px; 
}
.button50{
    border: none;
    padding: 0 30px;
    width: 230px;
}
.button50:hover{
    border: none;
    padding: 0 30px;
    width: 230px;
}
.button1520{
    border: none;
    padding: 15px 20px;
}
.button1520:hover{
    border: none;
}
.button20{
     /*border: none;*/
    /*padding: 15px 20px; */
    background-color: transparent;
    border: none;
}
.button20:hover{
     border: none;
}
.button:hover {
    background-color:  background-color:#991d31 ;
}
.second-section{
    min-height: 400px;
     margin:0px auto;
    padding: 40px 0px 40px 0px;
    position: relative;
  top:-184px;
}
.second-section .btn-info{
   background:#549bf1;
   color: white;
}
.second-section .form-control{
  border-radius: 1px;
}
.second-section .btn-info{
  border-radius: 1px;
}
.carousel-1{
    min-height: 200px;
}
.carousel-1 h2{
    border-bottom: 1px solid black;
}
 .classe .owl-wrapper .item{
  margin: 10px;
}
.classe .item img{
  display: block;
  width: 100%;
  height: auto;
}

.classe .owl-controls .owl-buttons div {
  position: absolute;
}
 
.classe  .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 36%; 
}
 
.classe  .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 36%;
}

.classe .owl-controls .owl-buttons div {
    color: #006BB6!important;
    margin: 0px !important;
    padding: 0px 0px !important;
    font-size: 50px!important;
    background: none !important;
    filter: Alpha(Opacity=100)!important;
    opacity: 1!important;
}

.classe .owl-controls .owl-buttons div:hover{
    filter: Alpha(Opacity=50);
    opacity: 0.5 !important;
}

.classe .owl-controls .owl-page span{
  width: 9px;
  height: 9px;
  margin: 5px 7px;
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  background: #d0d0d0;
}

.classe .owl-controls .owl-page.active span{
  border:3px solid red;
  background: red;
}
 .quote-section{
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.testimonial-quote {
  font-size: 16px;
}

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: gray;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #75808a;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  content: '\201C';
  color: #81bedb;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.2em;
  text-shadow: none;
  z-index: -300;
}

.testimonial-quote img {
  
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: -.2em;
  left: 0;
}

.testimonial-quote cite {
  color: gray;
  display: block;
  font-size: .8em;
}

.testimonial-quote cite span {
  color: #5e5e5e;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.testimonial-quote {
  position: relative;
}

 .testimonial-quote.right img {
  left: auto;
  right: 0;
}

.testimonial-quote.right cite {
  text-align: right;
}
.email-section {
   margin:0px auto;
    
}
.email-article{
   background : #006BB6;
   min-height: 60px;
   position: relative;
  top: -60px;
}
.email-article .flex-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    color: white;
    font-size: 24px;
}
.recruit-article{
  margin-bottom: 30px;
}
.recruit-article h1{
  font-size: 40px;
  color : #006BB6;
  text-align: left;
}
.recruit-article h5,
 .recruit-article p{
  text-align: left;
}
.recruit-article h5 {
  font-size: 24px;
}
.carousel-1 {
  min-height: 100px;
  }
  .carousel-1 h2{
    margin-top: 130px;
  }
  .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 70px;
    margin-bottom: -70px;
}
.call-to-act {
    max-width: 950px;
}
.call-to-act h1 {
    font-size: 52px;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
}
.call-to-act p {
    max-width: 850px;
}
.call-to-act .btn-info {
    margin: 25px 0;
}
.jumbotron .flex-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.jumbotron .flex-hero p{
  width:41%;
}
.quote-section .quote-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
      margin-top: 30px;
}
.quote-section .quote-flex h2,
.quote-section .quote-flex h3,
.quote-section .quote-flex h1,
.quote-section .quote-flex h5{
  margin-right: 10px;
}
.row-footer h5{
  color:rgb(225,225,225);

}
.row-footer ul li a,
.row-footer p,
.row-footer address,
.row-footer address a{
  color:rgba(225,225,225,0.6);
}

.row-footer .btn-facebook{
 background-color: #3B5998;
 border-radius: 50%;
   
}
.row-footer .btn-google-plus{
  background-color: #dd4b39;
  border-radius: 50%;
  
}
.row-footer .btn-twitter{
  background-color: #1da1f2;
  border-radius: 50%;
}
.row-footer .btn-linkedin{
  border-radius: 50%;
  background-color: #0077b5;
}
.row-footer .list-inline{
  margin-top: 20px;
}
.row-footer .panel-heading{
  background-color: #3B5998;
}
.row-footer .panel-default>.panel-heading {
      color:white;
       border-color: transparent;  
}
.row-footer .panel {
      border:0;
    border-radius:0;
    background-color: transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom:0;  
     border-top-right-radius:0;  
    border-top-left-radius:0;  
}
.row-footer .fc{
display: flex;
align-items: center;
justify-content: flex-start;
}
.row-footer .fc span{
  font-size: 18px;
  line-height: 1.5;

}
.row-footer .fc p{
  font-size: 14px;
}
.row-footer .panel-body{
  border:1px solid rgba(225,225,225,0.9);
}
.row-footer .media{
  display: flex;

}
.row-footer .media h4{
  color:rgba(225,225,225,0.6);
}
/********** Large devices only **********/
@media (min-width: 1400px) {
  }

  @media (min-width: 1200px) and (max-width: 1399px) {

  }


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: rgb(255,254,253);
    font-size: 9px;
}
.quote-section .quote-flex h2, 
.quote-section .quote-flex h3,
 .quote-section .quote-flex h1, 
 .quote-section .quote-flex h5 {
  font-size: 15px;
}
  }


  /*======= Extra small devices only ========*/
  @media (max-width: 767px) {
    .jumbotron.jumbotron-main  {
        background-image: url('../images/welcome/welcome400x279.jpg');
         background-size: cover;
       min-height: 700px;
    }
    .jumbotron .flex-hero p {
    width: 100%;
}
   .head-top-area .fct {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
    .classe .owl-controls .owl-buttons .owl-next {
     display: none;
}
.classe .owl-controls .owl-buttons .owl-prev {
    display: none;
}
.email-article .flex-form {
    font-size: 20px;
    padding: 25px;
}
.second-section {
     top: -40px;
}
.carousel-1 h2 {
    margin-top: 50px;
    padding: 5px;
    font-size: 20px;
}
.third {
     min-height:0px;  
}
.quote-section .quote-flex {
       flex-direction: column;
    margin-bottom: 30px;
       margin-top: 240px;
    flex-direction: column;
}
.quote-container {
  position: relative;
    top: 177px;
    margin: 0 auto;
}
.testimonial-quote blockquote,
.testimonial-quote cite {
     text-align: center;
}
.testimonial-quote img {
    text-align: center;
    margin: 0 auto;
    left: auto;
}
.quote-section .ifc{
  display: flex;
    align-items: center;
    justify-content: center;
}
  .email-article .fc{
  display: flex;
    align-items: center;
    justify-content: flex-end;
}
}

 /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
}